@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
/** Nav bar **/
header {
  height: 100vh;
  width: 100vw;
  background-color: #111;
}

.navbar {
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar a {
  color: white;
}

.navbar .navlinks ul {
  display: flex;
}

.navbar .navlinks ul li {
  margin: 0 25px;
}

.navbar .navlinks ul li.active a{
  color: red;
  font-weight: 600;
}
.navbar .three-menu {
  display: none;
  position: absolute;
  right: 30px;
  top: 50px;
  width: 35px;
}

.mobile-menu {
  margin-left: 0;
}
@media only screen and (max-width: 900px){
  .navbar .logo {
   position: absolute;
   top: 40px;
   left: 50px;
  }
  
  .navbar .three-menu {
    display: block;
  }
  .navlinks {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255,255,255,0.299);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .navlinks.mobile-menu {
    margin-left: 0;
  }
  .navlinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navlinks ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }
}

